.main {
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}

@media (min-width: 480px) {
    .main{
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .main{
        font-size: 18px;
    }
}

.head {
    text-align: left;
    text-transform: uppercase;
    color: white;
    position: center;
    top: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(45grad, #3023AE, #51ECDC);
}

.btn {
    margin: auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 60px;
    box-shadow: 0 0 13px gray;
    color: white;
}

.frame {
    height: 500px;
    display: flex;
    flex-direction: column;
}

/*.btn-colored {
     background-color: #D0021B;
 }*/

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

